// Place all the styles related to the SbirSolicitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body {
//   background-color: 
// }

h2 {
  font-face: Helvetica, sans-serif;
  color: #CC6633;
}

div.form-group {
  padding-top: 7px;
  padding-bottom: 7px;
}
